@page
@model JuomaListModel
@{
    ViewData["Title"] = "Drink List";
}

<h1>Drink List</h1>


<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Alcohol</th>
            <th scope="col">Buy</th>
        </tr>
    </thead>
     <tbody>
    @foreach (var drink in Model.DrinkList)
    {
        <tr>
            <td>@drink.Name</td>
            <td>@($"{drink.Price:C}")</td>
            <td>@drink.Size</td>
            <td>@drink.Alcohol</td>
            <td>
                <form method="post" asp-page-handler="AddToCart" asp-route-Drink="@drink">
                    <button class="btn btn-danger">Add to cart</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>



@section Scripts {
<partial name="_ValidationScriptsPartial" />
}